<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xikang.ai.catalog.mapper.DiseaseCatalogMapper">

    <select id="searchDiseasesForAi" resultType="map">
        SELECT
            id AS "id",
            disease_code AS "diseaseCode",
            disease_name AS "diseaseName",
            diseaseicd AS "diseaseIcd",
            disease_category AS "diseaseCategory"
        FROM disease
        <where>
            <trim prefix="(" suffix=")" prefixOverrides="OR">
                <if test="diseaseKeywords != null and diseaseKeywords.size() &gt; 0">
                    <foreach collection="diseaseKeywords" item="keyword" separator=" OR ">
                        (
                        disease_name ILIKE CONCAT('%', #{keyword}, '%')
                        OR disease_code ILIKE CONCAT('%', #{keyword}, '%')
                        OR diseaseicd ILIKE CONCAT('%', #{keyword}, '%')
                        OR disease_category ILIKE CONCAT('%', #{keyword}, '%')
                        )
                    </foreach>
                </if>
                <if test="icdPrefixes != null and icdPrefixes.size() &gt; 0">
                    OR
                    <foreach collection="icdPrefixes" item="prefix" separator=" OR ">
                        (
                        diseaseicd ILIKE CONCAT(#{prefix}, '%')
                        OR disease_code ILIKE CONCAT(#{prefix}, '%')
                        )
                    </foreach>
                </if>
                <if test="categoryKeywords != null and categoryKeywords.size() &gt; 0">
                    OR
                    <foreach collection="categoryKeywords" item="category" separator=" OR ">
                        disease_category ILIKE CONCAT('%', #{category}, '%')
                    </foreach>
                </if>
            </trim>
        </where>
        LIMIT #{fetchLimit}
    </select>

    <select id="searchDiseasesByNameKeyword" resultType="map">
        SELECT
            id AS "id",
            disease_code AS "diseaseCode",
            disease_name AS "diseaseName",
            diseaseicd AS "diseaseIcd",
            disease_category AS "diseaseCategory"
        FROM disease
        WHERE disease_name ILIKE CONCAT('%', #{keyword}, '%')
           OR disease_code ILIKE CONCAT('%', #{keyword}, '%')
           OR diseaseicd ILIKE CONCAT('%', #{keyword}, '%')
        ORDER BY
            CASE
                WHEN disease_name ILIKE #{keyword} THEN 0
                WHEN disease_name ILIKE CONCAT(#{keyword}, '%') THEN 1
                WHEN disease_name ILIKE CONCAT('%', #{keyword}, '%') THEN 2
                ELSE 3
            END,
            LENGTH(disease_name),
            disease_name
        LIMIT #{limit}
    </select>

    <select id="searchDiseasesByIcdPrefix" resultType="map">
        SELECT
            id AS "id",
            disease_code AS "diseaseCode",
            disease_name AS "diseaseName",
            diseaseicd AS "diseaseIcd",
            disease_category AS "diseaseCategory"
        FROM disease
        WHERE diseaseicd ILIKE CONCAT(#{prefix}, '%')
           OR disease_code ILIKE CONCAT(#{prefix}, '%')
        ORDER BY LENGTH(disease_name), disease_name
        LIMIT #{limit}
    </select>

    <select id="searchDiseasesByCategoryKeyword" resultType="map">
        SELECT
            id AS "id",
            disease_code AS "diseaseCode",
            disease_name AS "diseaseName",
            diseaseicd AS "diseaseIcd",
            disease_category AS "diseaseCategory"
        FROM disease
        WHERE disease_category ILIKE CONCAT('%', #{keyword}, '%')
        ORDER BY LENGTH(disease_name), disease_name
        LIMIT #{limit}
    </select>

</mapper>
