<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xikang.medtech.mapper.CheckRequestMapper">

    <resultMap id="BaseResultMap" type="com.xikang.medtech.entity.CheckRequest">
        <id column="id" property="id"/>
        <result column="register_id" property="registerId"/>
        <result column="medical_technology_id" property="medicalTechnologyId"/>
        <result column="check_info" property="checkInfo"/>
        <result column="check_position" property="checkPosition"/>
        <result column="check_remark" property="checkRemark"/>
        <result column="check_state" property="checkState"/>
        <result column="check_result" property="checkResult"/>
        <result column="check_time" property="checkTime"/>
        <result column="creation_time" property="creationTime"/>
        <result column="check_employee_id" property="checkEmployeeId"/>
        <result column="inputcheck_employee_id" property="inputcheckEmployeeId"/>
        <result column="case_number" property="caseNumber"/>
        <result column="patient_name" property="patientName"/>
        <result column="tech_name" property="techName"/>
        <result column="tech_code" property="techCode"/>
        <result column="ai_category_code" property="aiCategoryCode"/>
    </resultMap>

    <sql id="Join_Select">
        SELECT
            cr.id,
            cr.register_id,
            cr.medical_technology_id,
            cr.check_info,
            cr.check_position,
            cr.check_remark,
            cr.check_state,
            cr.check_result,
            cr.check_time,
            cr.creation_time,
            cr.check_employee_id,
            cr.inputcheck_employee_id,
            r.case_number,
            r.real_name AS patient_name,
            mt.tech_name,
            mt.tech_code,
            mt.ai_category_code
        FROM check_request cr
        INNER JOIN register r ON r.id = cr.register_id
        INNER JOIN medical_technology mt ON mt.id = cr.medical_technology_id
    </sql>

    <select id="selectById" resultMap="BaseResultMap">
        <include refid="Join_Select"/>
        WHERE cr.id = #{id}
    </select>

    <sql id="Department_Filter">
        <if test="departmentId != null">
            AND mt.deptment_id = #{departmentId}
        </if>
    </sql>

    <select id="selectByRegisterId" resultMap="BaseResultMap">
        <include refid="Join_Select"/>
        WHERE cr.register_id = #{registerId}
        <include refid="Department_Filter"/>
        ORDER BY cr.creation_time DESC, cr.id DESC
    </select>

    <select id="selectByCheckState" resultMap="BaseResultMap">
        <include refid="Join_Select"/>
        WHERE cr.check_state = #{checkState}
        <include refid="Department_Filter"/>
        ORDER BY cr.creation_time ASC, cr.id ASC
    </select>

    <select id="selectPending" resultMap="BaseResultMap">
        <include refid="Join_Select"/>
        WHERE cr.check_state = '待检查'
        <include refid="Department_Filter"/>
        ORDER BY cr.creation_time ASC, cr.id ASC
    </select>

    <update id="updateCheckState">
        UPDATE check_request SET check_state = #{checkState} WHERE id = #{id}
    </update>

    <update id="updateCheckStateWithEmployee">
        UPDATE check_request
        SET check_state = #{checkState},
            check_employee_id = #{checkEmployeeId}
        WHERE id = #{id}
    </update>

    <update id="updateResult">
        UPDATE check_request
        SET check_result = #{checkResult},
            check_state = #{checkState},
            check_time = #{checkTime},
            check_remark = #{checkRemark},
            inputcheck_employee_id = #{inputcheckEmployeeId}
        WHERE id = #{id}
    </update>

    <update id="updateArchive">
        UPDATE check_request
        SET check_state = #{checkState},
            check_remark = #{checkRemark}
        WHERE id = #{id}
    </update>

</mapper>
