<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xikang.registration.mapper.RegistLevelMapper">

    <resultMap id="BaseResultMap" type="com.xikang.registration.entity.RegistLevel">
        <id column="id" property="id"/>
        <result column="regist_code" property="code"/>
        <result column="regist_name" property="name"/>
        <result column="regist_fee" property="price"/>
        <result column="regist_quota" property="quota"/>
        <result column="sequence_no" property="sequenceNo"/>
        <result column="delmark" property="delmark"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, regist_code, regist_name, regist_fee, regist_quota, sequence_no, delmark
    </sql>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM regist_level WHERE delmark = 0
        ORDER BY sequence_no, id
    </select>

    <select id="selectById" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM regist_level WHERE id = #{id}
    </select>

    <select id="selectByCode" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM regist_level WHERE regist_code = #{code}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO regist_level (regist_code, regist_name, regist_fee, regist_quota, sequence_no, delmark)
        VALUES (#{code}, #{name}, #{price}, #{quota}, #{sequenceNo}, 0)
    </insert>

    <update id="update">
        UPDATE regist_level
        SET regist_code = #{code}, regist_name = #{name}, regist_fee = #{price},
            regist_quota = #{quota}, sequence_no = #{sequenceNo}
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        UPDATE regist_level SET delmark = 1 WHERE id = #{id}
    </delete>

</mapper>