<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xikang.registration.mapper.SettleCategoryMapper">

    <resultMap id="BaseResultMap" type="com.xikang.registration.entity.SettleCategory">
        <id column="id" property="id"/>
        <result column="settle_code" property="code"/>
        <result column="settle_name" property="name"/>
        <result column="sequence_no" property="sequenceNo"/>
        <result column="delmark" property="delmark"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, settle_code, settle_name, sequence_no, delmark
    </sql>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM settle_category WHERE delmark = 0
        ORDER BY sequence_no, id
    </select>

    <select id="selectById" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM settle_category WHERE id = #{id}
    </select>

    <select id="selectByCode" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM settle_category WHERE settle_code = #{code}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO settle_category (settle_code, settle_name, sequence_no, delmark)
        VALUES (#{code}, #{name}, #{sequenceNo}, 0)
    </insert>

    <update id="update">
        UPDATE settle_category
        SET settle_code = #{code}, settle_name = #{name}, sequence_no = #{sequenceNo}
        WHERE id = #{id}
    </update>

</mapper>